@{
    ViewData["Title"] = "Home Page";
}

<div class="container colorHeader">
    <div class="row">
        <div class="col-md-6">
            <b>
                <h1 class="display-4">Sejá Bem-vindo</h1>
            </b>
            <p>Square Venda de Computador a segunda Mão de boa qualidade</p>
        </div>
        <div class="col-md-6">

        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="categoria">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner CarouselDiv ">
                    <div class="carousel-item active">
                        <div class="col ">
                            <div class="card cardCarousel">
                                <div class="conteudo">
                                    <div class="textLink"> <a class="white-text item" href="">Hp</a>
                                        <p>Rua 15, Martires do Kifangondo. Venda de Computador a bom preço.</p>
                                    </div>
                                    <div class="imgDiv"> <img src="https://imgur.com/J11mEBq.png"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col">
                            <div class="card cardCarousel">
                                <div class="conteudo">
                                    <img src="https://imgur.com/J11mEBq.png">
                                    <a class="white-text item" href="">Hp</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="divPesquisa">
            <form class="row g-3">
                <div class="col-auto">
                    <label for="inputPassword2" class="visually-hidden">Password</label>
                    <input type="text" class="form-control" id="inputPassword2" placeholder="Pesquisar">
                </div>
                <div class="col-auto">
                    <button class="btn grey text-greyWhite mb-3">Pesquisar</button>
                </div>
            </form>
        </div>
        <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
            <input type="checkbox" class="btn-check borderSite" id="btncheck1" autocomplete="off">
            <label class="btn borderSite " for="btncheck1">Checkbox 1</label>

            <input type="checkbox" class="btn-check borderSite" id="btncheck2" autocomplete="off">
            <label class="btn borderSite" for="btncheck2">Checkbox 2</label>

            <input type="checkbox" class="btn-check borderSite" id="btncheck3" autocomplete="off">
            <label class="btn borderSite " for="btncheck3">Checkbox 1</label>

            <input type="checkbox" class="btn-check borderSite" id="btncheck4" autocomplete="off">
            <label class="btn borderSite" for="btncheck4">Checkbox 2</label>

            <input type="checkbox" class="btn-check borderSite" id="btncheck5" autocomplete="off">
            <label class="btn borderSite " for="btncheck5">Checkbox 1</label>

            <input type="checkbox" class="btn-check borderSite" id="btncheck6" autocomplete="off">
            <label class="btn borderSite" for="btncheck6">Checkbox 2</label>

            <input type="checkbox" class="btn-check borderSite" id="btncheck7" autocomplete="off">
            <label class="btn borderSite " for="btncheck7">Checkbox 1</label>

            <input type="checkbox" class="btn-check borderSite" id="btncheck8" autocomplete="off">
            <label class="btn borderSite" for="btncheck8">Checkbox 2</label>

        </div>

    </div>
</div>

<div class="text-center">

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
