html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.grey
{
  background-color: #576F72;
 
}
.text-greyWhite
{
  color: #E4DCCF;
}